@page "/Documents"

    <h1>Documents</h1>
    <div>https://github.com/jolaquai/HavitBlazorRepros</div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <HxSidebar>
                    <ItemsTemplate>
                        <HxSidebarItem Text="Root" Href="/Documents">
                            <HxSidebarItem Text="Some subitem" Href="/Documents/subitem/1" />
                            <HxSidebarItem Text="Another" Href="/Documents/subitem/2">
                                <HxSidebarItem Text="subsub 1" Href="/Documents/subitem/2/1" />
                                <HxSidebarItem Text="subsub 2" Href="/Documents/subitem/2/2" />
                            </HxSidebarItem>
                        </HxSidebarItem>
                    </ItemsTemplate>
                </HxSidebar>
            </div>
            <div class="col-auto">
                My content goes here...
            </div>
        </div>
    </div>