@page "/"

@rendermode RenderMode.InteractiveWebAssembly

<h1>Hello, World!</h1>

<HxButton CssClass="btn btn-primary" OnClick="@(() => AddError("The fatal error message goes here..."))">
    <span>Break @nameof(IHxMessengerService) (show error)!</span>
</HxButton>
<HxButton CssClass="btn btn-primary" OnClick="@(() => AddWarning("The warning message goes here, and it'll appear because  returns false for ThemeColor.Warning."))">
    <span>Show warning!</span>
</HxButton>